@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

.brightened {
  filter: brightness(150%);

}



.carousel {
  display: flex;
  overflow-x: auto;
  /* Permettre le défilement horizontal si nécessaire */
}

.slide {
  /* Vos styles pour chaque tweet individuel */
  min-width: 256px;
  height: 70px;
  /* Ajoutez une largeur minimale si nécessaire */
}